<h1>Voici la team &#x1F43C; </h1>

<p><span class="attribute">Prénom: </span> Gossip</p>
<p><span class="attribute">Nom: </span> Bot</p>
<p><span class="attribute">Ville de résidence: </span> NYC Babyyy</p>
